body {
  background-color: white;
  color: black;
  font-size: 40px;
  /* fonts.google.com for fonts */
}
.header {
  background-color: #0288d1;
  text-align: center;
  border: 0px solid #4caf50;
}
.trending-title {
  text-align: center;
}
.trending-blog {
  text-align: center;
  background-color: 757575;
}
