body {
  background-color: #03a9f4;
  color: black;
  font-size: 40px;
  /* fonts.google.com for fonts */
  font-family: "Oswald", sans-serif;
}
.header {
  text-align: center;
  background-color: #0288d1;
  margin: 20px;
}
#header-main {
  padding: 20px;
  font-weight: 900;
  font-size: 100px;
  color: #ffffff;
}
#header-trending {
  font-weight: bold;
}
.trending-blog {
  text-align: center;
  background-color: #0288d1;
  width: 45vw;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 500px;
}
#trending-blog-1 {
}
#trending-blog-2 {
  height: 565px;
}
#trending-blog-3 {
  height: 530px;
}
#trending-blog-title {
  border: solid #448aff 3px;
  background-color: #b3e5fc;
}
#trending-blog-img {
  width: 40vw;
  position: relative;
  margin: -50px 0px 0px 0px;
}
#trending-blog-preview {
  font-size: 20px;
  margin: 20px;
  border: solid #448aff 3px;
  background-color: #b3e5fc;
}
#footer {
  color: #757575;
  font-size: 16px;
}
/* #b3e5fc #448aff */
